{% extends 'base.html' %}

{% block title %}
    Account - Details
{% endblock %}

{%block 'content'%}
<h1>Create Trianee</h1>

<form method="POST" >
    {% csrf_token %}
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="form-group">
        <label for="image">Image:</label>
        <input type="file" class="form-control" id="image" name="image">
    </div>
   
    <div class="form-group">
        <label for="trackid">Track ID:</label>
        <select name="trackid" id="trackid" class="form-control">
            {% for track in tracks %}
            <option value="{{ track.id }}">{{ track.title }}</option>
            {% endfor %}
        </select>
    </div>
    

      
    <button type="submit" class="btn btn-primary" value="Add" >Create Trianee</button>
    <button type="submit" class="btn btn-primary" value="Add" ><a style="text-decoration: none; color: white;" href="{%url 'trianee:list'%}">Back</a></button>

</form>
<div style="color: red;">
    {{error_message}}
</div>
{% endblock %}

{% block js %}
    <script>
        console.log('Child Page JS');
    </script>
{% endblock %}
