{% extends 'base.html' %}

{% block title %}
    Account - Details
{% endblock %}

{%block 'content'%}
<h1>Create Trianee</h1>

<form method="POST" >
    {% csrf_token %}

    {{form.as_p}}
      
    <button type="submit" class="btn btn-primary" value="Add" >Create Trianee</button>
    <button type="submit" class="btn btn-primary" value="Add" ><a style="text-decoration: none; color: white;" href="{%url 'trianee:list'%}">Back</a></button>

</form>
<div>
    <h1>{{error}}</h1>
</div>
<div style="color: red;">
    {{error_message}}
</div>
{% endblock %}

{% block js %}
    <script>
        console.log('Child Page JS');
    </script>
{% endblock %}
