
{% extends 'base.html' %}

{% block title %}
    Trianee - List
{% endblock %}

{%block 'content'%}
<h1>Trianees list</h1>
<table border="1" width="100%">
    <tr>
        <th>ID</th>
        <th>Image</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    {% for trianee in trianees %}
    <tr>
        <td>{{ trianee.id }}</td>
        <td>{{ trianee.image }}</td>
        <td>{{ trianee.name }}</td>
        <td>
            <a href="{% url 'trianee:update' trianee.id %}">Update</a>
            <a href="{% url 'trianee:delete' trianee.id %}">Delete</a>
            <a href="{% url 'trianee:details' trianee.id %}">Show Details</a>
        </td>
    </tr> 
    {% endfor %}
</table>
<a href="{%url 'trianee:create'%}">Add Trianee</a>
<br>
<a href="{% url 'trianee:create_form' %}">Add Trianee by form</a>
<br>
<a href="{% url 'trianee:create_form_model' %}">Add Trianee by form model</a>

{% endblock %}

{% block js %}
    <script>
        console.log('Child Page JS');
    </script>
{% endblock %}
