
{% extends 'base.html' %}

{% block title %}
    Account - List
{% endblock %}

{%block 'content'%}
<h1>Trianees list</h1>
<table border="1" width="100%">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    {% for trianee in trinees %}
    <tr>
        <td>{{ trianee.id }}</td>
        <td>{{ trianee.name }}</td>
        <td>
            <a href="{% url 'trianee:update' trianee.id %}">Update</a>
            <a href="{% url 'trianee:delete' trianee.id %}">Delete</a>
            <a href="{% url 'trianee:details' trianee.id %}">Show Details</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block js %}
    <script>
        console.log('Child Page JS');
    </script>
{% endblock %}
